@import '../../app/app.scss';

.matchCard {
    text-align: center;
}

.matchFound {
    text-align: center;
    color: #171717;
}

.firework {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}