@import '../../app/app.scss';

.restartMessage {
    font-size: 50px;
    padding: 20px;
}

.restartScreen {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}