.demo-visualiser-screen body {
  margin: 20px;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.demo-visualiser-screen h1 {
  color: black;
  text-align: center;
}

.demo-visualiser-screen h2 {
  color: black;
  text-align: center;
}

.demo-visualiser-screen .face-prediction-chart {
  text-align: center;
}

.demo-visualiser-screen .person-container {
  width: 230px;
  position: relative;
  font-size: 110%;
  text-align: center;
  margin: 0 3px
}

.demo-visualiser-screen .user-button {
  padding: 10px;
  border-radius: 10px;
  font-size: 140%;
  text-align: center;
}

.demo-visualiser-screen .show-graphs-button {
  text-align: center;
  background-color: white;
  border: 1px solid rgb(216, 216, 216);
  padding: 10px;
  margin: 0 5px;
  font-size: 140%;
  border-radius: 10px;
}

.demo-visualiser-screen .cancel-icon {
  padding: 0px;
}

.demo-visualiser-screen .person-chart {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 10;
}

.demo-visualiser-screen .remove-user-button {
  border-radius: 10px;
  font-size: 140%;
  padding: 0px;
  background-color: #f3f3f3;
  border: none;
}

.demo-visualiser-screen .selected-button {
  background-color: #61B7E1;
}

.demo-visualiser-screen .face {
  border: 3px solid black;
  width: 230px;
}

.demo-visualiser-screen .filtered {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}

.demo-visualiser-screen .selected {
  border: 10px solid green;
}

.demo-visualiser-screen .background-image {
  opacity: 0.3;
}

.demo-visualiser-screen .recharts-wrapper {
  margin : 0 auto;
}

.demo-visualiser-screen ul {
  padding-top: 3px;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  margin: 4px;
  padding-inline-start: 0px;
}

.demo-visualiser-screen li {
  display: block;
  border-radius: 2px;
  margin: 10px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .demo-visualiser-screen body {
    font-size: 12px;
  }

  .demo-visualiser-screen .person-container {
    width: 120px;
  }

  .demo-visualiser-screen .face {
    text-align: center;
    width: 120px;
  }

  .demo-visualiser-screen .person-chart {
    position: absolute;
    left: 10px;
    top: 15px;
    z-index: 10;
  }
}