h1 {
  font-size: 40px;
  color: #58606e;
}

 .cardTitle {
   font-size: 25px;
   color: black;
 }

.singleCardContainer p {
  font-size: 1.5em;
}

.cardContainer p {
  font-size: 1.5em;
}

.footerPadding {
  height: 60px;
}

.demoChart {
  height: 300px;
  width: 300px;
}

.dashboardContainer {
  position: relative;
  min-height: 100vh;
  margin-bottom: -50px;
  vertical-align: middle;
}

.singleCardContainer {
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
  align-items: center;
  margin: 0 50px;
}

.demoSummaryCardContainer {
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
  align-items: center;
  margin: 0 50px;
}

.cardContainer {
  text-align: center;
  font-weight: bold;
  align-items: center;
  padding: 3px;
}

.cardImage {
  padding: 2%;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.smallerCardImage {
  width: 250px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.genderSelectCardImage {
  width: 350px;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.ageSelectCardImage {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.matchCardImage {
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.flagImage {
  margin: 10px 10px 0px 10px;
}

@media only screen and (max-width: 800px) {

.cardImage {
  width: 300px;
  height: 300px;
}

.singleCardContainer {
  margin: 0 20px;
}

.singleCardContainer p {
  font-size: 1em;
}

.cardContainer p {
  font-size: 1em;
}
}
@media only screen and (max-width: 600px) {

  h1 {
    font-size: 1.5em
  }
  .singleCardContainer {
    padding-top: 10px;
  }

  .cardContainer {
    text-align: center;
    font-weight: bold;
    align-items: center;
    padding: 1px;
  }

  .demoSummaryCardContainer {
    padding-top: 10px;
  }

  .cardImage {
    width: 190px;
    height: 190px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
  }

  .genderSelectCardImage {
    width: 180px;
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
  }

  .ageSelectCardImage {
    width: 120px;
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .smallerCardImage {
    width: 130px;
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .matchCardImage {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
  }
}

@media only screen and (max-width: 330px) {
  .cardImage {
    width: 130px;
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
  }

  .cardTitle {
    font-size: 15px;
    color: black;
  }

  .ageSelectCardImage {
    width: 100px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .genderSelectCardImage {
    width: 140px;
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
  }

  .smallerCardImage {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .matchCardImage {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
  }
}
