.pageFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: #132832;
}

.footerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footerImage {
  width: 30px;
}

.footerElementContainer {
  text-align: center;
}

.footerElementContainer p {
  padding: 0px;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

@media only screen and (max-width: 600px) {
  .footerImage {
    width: 20px;
  }
}