@import '../../app/app.scss';

.welcomePanel {
    font-size: 50px;
    padding: 20px;
    text-align: center;
}

.pictureButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 20%;
}
