@import '../../app/app.scss';

.uploadPicPanel {
  text-align: center;
  padding: 20px;
}

.pictureButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 50%;
    border: 3px solid black;;
}

.photoButton {
  margin: 10px;
}
