@import '../../app/app.scss';

.header-container {
  background-color: #171717;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo {
  width: 10%
}

h2 {   
  color: white;
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 18px; 
  }
}