@import '../../app/app.scss';

.header-container {
  background-color: #171717;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 40px;
  border:0;
  padding:0;
}

.logo {
  width: 30px
}

h2 {   
  color: white;
}

@media only screen and (max-width: 600px) {

  .logo {
    width: 30px
  }

  h2 {
    font-size: 18px; 
  }
}