@import '../../app/app.scss';

.restartMessage {
  text-align: center;
  color: #171717;

}

.restartPanel{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}