.user-menu {
  padding-top: 3px;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  margin: 4px;
  padding-inline-start: 0px;
}

.remove-user-button {
  border-radius: 10px;
  font-size: 100%;
  background-color: #f3f3f3;
}

.user-button {
  padding: 10px;
  border-radius: 10px;
  font-size: 130%;
  text-align: center;
}

.selected-button {
  background-color: #61B7E1;
}

@media only screen and (max-width: 600px) {
  .remove-user-button {
    font-size: 70%;
    padding: 2px;
  }

  .user-button {
    padding: 5px;
    font-size: 70%;
  }
}