@import '../../app/app.scss';

.cardImage {
   min-height: 100%;
   min-width: 100%;
    padding: 10px;
    border-radius: 4px;
    object-fit: contain;
}

.cardContainer {
  padding: 10px;
}

.personCard {
  border-radius: 20px;
}
